@import url("https://fonts.googleapis.com/css?family=Tangerine");
@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,400;1,200;1,900&display=swap');


/* Variables */
:root {
    --font-brand: Tangerine, serif;
    --font-family:Taviraj, serif;
    --normal-font: 200;
    --bold-font: 400;
    --bolder-font: 900;
    --bg-color: #eae7dc;
    --bg-nav: #f2ece6;
    --bg-more-about: #f7f4f0;  
    --hero-color: #010b13;
    --default-text-color: #1164b4;
    --brand-size: 40px;
    --brand-color: #080808;
    --subscript: 15px;
    --primary-color: #e98074;
    --secondary-color: #e85A4f;
    --tertiary-color: #d8c3a5;
    --primary-shadow: rgb(0, 0, 0, 0.1);
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: var(--bold-font);
}

a:hover {
    color: var(--secondary-shadow);

}

nav span {
    font-family: var(--font-brand);
    font-weight: var(--bolder-font);
    font-size: var(--subscript);
    padding-right: 10px;
    color: var(--brand-color);
}

nav span b {
    padding-right: 1rem;
    font-size: var(--brand-size);
}

body {
    color: var(--default-text-color);
    font-family: var(--font-family);
    background-color: var(--bg-color);
}


html {
    scroll-behavior: smooth;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-nav);
    box-shadow: 0 3px 5px var(--primary-shadow);
}

nav a {
    color: var(--secondary-shadow);
    transition: var(--transition);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

.menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    cursor: pointer;
    display: none;
}

/* #about {
    color: var(--hero-color2);
} */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.hero img {
    height: 36.5rem;
    width: 36.5rem;
}

.bio {
    width: 25rem;
    padding: 0.625rem;
    box-shadow: 0px 2px 15px 2px var(--primary-color);
}

.bio h2 {
    margin-bottom: var(--bottom-margin);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

.more-about {
    background-color: var(--bg-more-about);
    padding: 1rem 6rem;
}

.more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

.more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
}

